.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5.5rem 10.375rem;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 700px) {
    padding: 2rem 1rem;
  }
}

.transparentBg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: hsl(240, 100%, 5%, 50%);
}

.menuBar {
  display: flex;
  justify-content: flex-end;
  gap: 2.5rem;
  align-items: center;

  > img {
    margin-right: auto;
  }
}

.menuButton {
  a:hover {
    color: hsl(5, 85%, 63%);
  }
}

.mainContent {
  display: flex;
  flex-direction: row;
  padding: 3.5rem 0;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.75rem;
}

.mainArticle {
  display: flex;
  flex-direction: column;
  flex-basis: 45.625rem;
  flex-grow: 1;
}

img {
  max-width: 100%;
}

.articleDescBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.articleDescBox h1 {
  font-weight: 800;
  text-align: left;
  color: hsl(240, 100%, 5%);
  font-size: 3.5rem;
  line-height: 1;
  flex-basis: 350px;
  margin: 1.5rem 0;

  @media only screen and (max-width: 700px) {
    flex-basis: 0;
  }
}

hr {
  margin: 2rem 0;
  border: 1px solid hsla(36, 100%, 99%, 0.278);
}

.articleSummary {
  text-align: left;
  flex-basis: 350px;

  @media only screen and (max-width: 700px) {
    flex-basis: 0;
  }

  button {
    height: 3rem;
    padding: 1rem 2rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    border: 0rem;
    background-color: hsl(5, 85%, 63%);
    margin-top: 1rem;

    &:hover {
      background-color: #000;
      cursor: pointer;
    }
  }
}
